.unique {
  background-image: url(../../assets/dddc.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 1;
}

.mission h1 {
  margin: 0;
  text-align: center;
  font-size: 100px;
  text-decoration: underline;
  text-decoration-color: aquamarine;
  -moz-text-decoration-color: aquamarine;
}
