.container-text {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 1;
  margin-top: 30px;
}
h1,
h2,
h3 {
  text-align: center;
}

.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 2fr));

  grid-gap: 20px;
}

.image-list img {
  width: 300px;
  height: 250px;
}

.image-text {
  background-image: url("/src/assets/final.png");
  background-size: cover;
  text-align: center;
  font-size: 5em;
  color: azure;
  height: 250px;
  padding-top: 60px;
}

.text p {
  text-align: center;

  opacity: 1;
}
